.ChatInputBox {
	padding: 0rem 2rem 0.5rem 2rem;
}

.ChatInput {
	box-sizing: border-box;
	font: inherit;
	width: 100%;
	padding: 8px;
	border: solid 2px;
	border-color: #aaa;
	border-radius: 6px;
	outline: none;
	font-size: 1.3rem;
}

.ChatInput:focus {
	border-color: #666;
}

.ChatIsTypingWrapper {
	height: 1rem;
}

.ChatInputWrapper {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
