.ProfileContainer {
	margin: 1rem auto 1.75rem auto;
	display: flex;
	justify-content: center;
}

.NavUser {
	display: flex;
	justify-content: space-evenly;
}

.textButton {
	font: inherit;
	border: none;
	padding: 0.2rem 0;
	margin: 0;
	display: inline;
	cursor: pointer;
	font-size: 80%;
	background: #fff;
	font-weight: bold;
}

.addChannelButton {
	padding: 0 0.6rem;
}
