.DirectChat {
	all: unset;
	padding: 0 1rem;
}

.ActiveDirectChat {
	background: hsl(30, 50%, 50%);
}

.UserInfoEmail {
	font-size: 1rem;
	font-weight: 900;
	overflow: hidden;
	color: black;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.DirectsList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem 0;
	padding: 0;
}

.UserStatus {
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	bottom: 0;
	left: 0;
}

.UserStatus.online {
	background: hsl(110, 50%, 50%);
}

.UserStatus.offline {
	background: hsl(10, 0%, 70%);
}
